@import "tailwindcss";

@font-face {
  font-family: 'Asfalit Sans';
  src: url('/fonts/asfalit-sans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazier';
  src: url('/fonts/mazier-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Asfalit Sans', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .font-asfalit {
    font-family: 'Asfalit Sans', sans-serif;
  }
  
  .font-mazier {
    font-family: 'Mazier', serif;
  }
}